.container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.form {
  margin-bottom: 1rem;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input.valid {
  border-color: green;
}

input.invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.success {
  color: green;
  font-weight: bold;
}
